<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzh.dao.AccountMapper">
    <insert id="insert" parameterType="com.zzh.Account">
        insert into account (id, name, unionId, 
            pwd, channel, type, 
            version, image, available_point, 
            nickname, petname, birthday, 
            mobile_number, level, total_success_price, 
            recommended_code, recommended_count, recommended_order_count, 
            sub_recommended_count, total_recommended_point, 
            is_recommended, partner_status, apply_partner_status, 
            is_has_order, is_buy, secret_key, 
            create_time, update_time, country_code
            )
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{unionid,jdbcType=VARCHAR}, 
            #{pwd,jdbcType=VARCHAR}, #{channel,jdbcType=SMALLINT}, #{type,jdbcType=TINYINT}, 
            #{version,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{availablePoint,jdbcType=INTEGER}, 
            #{nickname,jdbcType=VARCHAR}, #{petname,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
            #{mobileNumber,jdbcType=VARCHAR}, #{level,jdbcType=TINYINT}, #{totalSuccessPrice,jdbcType=REAL}, 
            #{recommendedCode,jdbcType=CHAR}, #{recommendedCount,jdbcType=INTEGER}, #{recommendedOrderCount,jdbcType=INTEGER}, 
            #{subRecommendedCount,jdbcType=INTEGER}, #{totalRecommendedPoint,jdbcType=INTEGER}, 
            #{isRecommended,jdbcType=TINYINT}, #{partnerStatus,jdbcType=TINYINT}, #{applyPartnerStatus,jdbcType=TINYINT}, 
            #{isHasOrder,jdbcType=TINYINT}, #{isBuy,jdbcType=TINYINT}, #{secretKey,jdbcType=VARCHAR}, 
            #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{countryCode,jdbcType=INTEGER}
            )
    </insert>
    <select id="countByExample" parameterType="com.zzh.Account" resultType="java.lang.Integer">
        select count(*) from account
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <delete id="deleteByExample" parameterType="com.zzh.Account">
        delete from account
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <update id="updateByExampleSelective" parameterType="com.zzh.Account">
        update account
        <set>
            <if test=" != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test=" != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test=" != null">
                unionId = #{unionid,jdbcType=VARCHAR},
            </if>
            <if test=" != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test=" != null">
                channel = #{channel,jdbcType=SMALLINT},
            </if>
            <if test=" != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test=" != null">
                version = #{version,jdbcType=VARCHAR},
            </if>
            <if test=" != null">
                image = #{image,jdbcType=VARCHAR},
            </if>
            <if test=" != null">
                available_point = #{availablePoint,jdbcType=INTEGER},
            </if>
            <if test=" != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test=" != null">
                petname = #{petname,jdbcType=VARCHAR},
            </if>
            <if test=" != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test=" != null">
                mobile_number = #{mobileNumber,jdbcType=VARCHAR},
            </if>
            <if test=" != null">
                level = #{level,jdbcType=TINYINT},
            </if>
            <if test=" != null">
                total_success_price = #{totalSuccessPrice,jdbcType=REAL},
            </if>
            <if test=" != null">
                recommended_code = #{recommendedCode,jdbcType=CHAR},
            </if>
            <if test=" != null">
                recommended_count = #{recommendedCount,jdbcType=INTEGER},
            </if>
            <if test=" != null">
                recommended_order_count = #{recommendedOrderCount,jdbcType=INTEGER},
            </if>
            <if test=" != null">
                sub_recommended_count = #{subRecommendedCount,jdbcType=INTEGER},
            </if>
            <if test=" != null">
                total_recommended_point = #{totalRecommendedPoint,jdbcType=INTEGER},
            </if>
            <if test=" != null">
                is_recommended = #{isRecommended,jdbcType=TINYINT},
            </if>
            <if test=" != null">
                partner_status = #{partnerStatus,jdbcType=TINYINT},
            </if>
            <if test=" != null">
                apply_partner_status = #{applyPartnerStatus,jdbcType=TINYINT},
            </if>
            <if test=" != null">
                is_has_order = #{isHasOrder,jdbcType=TINYINT},
            </if>
            <if test=" != null">
                is_buy = #{isBuy,jdbcType=TINYINT},
            </if>
            <if test=" != null">
                secret_key = #{secretKey,jdbcType=VARCHAR},
            </if>
            <if test=" != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test=" != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test=" != null">
                country_code = #{countryCode,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from account
        where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>